<% include header %>
	<div class="jumbotron text-center">
		<div class="alert alert-danger" role="alert">Oops something went wrong, sorry!</div>
		<a href="/"> Back to home? </a>
	</div>
<% include footer %>