extends layout

block content
    h1= title
    form#formAddUser(name="login",method="post",action="/login")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputPassword(type="text", placeholder="password", name="password")
        button#btnSubmit(type="submit") submit